<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    body{
      background-color: #212121;
      font-family: sans-serif;
      color: #f0f0f0;
    }
    input{
      background-color: #333333;
      border: none;
      border-radius: 5px;
      padding: 5px;
      margin: 5px;
      color: #f0f0f0;
    }
  </style>
  <title>Index</title>
</head>
<body>
  <% if (user) {%>
    <h1>welcome back <%= user.username %></h1>
    <a href="/log-out">LOG OUT</a>
  <% } else { %>
    <h1>pls log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
  <%}%>
</body>
</html>