<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    body{
      background-color: #212121;
      font-family: sans-serif;
      color: #f0f0f0;
    }
    input{
      background-color: #333333;
      border: none;
      border-radius: 5px;
      padding: 5px;
      margin: 5px;
      color: #f0f0f0;
    }
  </style>
  <title>Sign up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" 
    value="<%= typeof user != 'undefined' ? user.username : '' %>"/>
    <label for="password">Password</label>
    <input name="password" type="password"/>
    <button>Sign Up</button>
  </form>
  <p>already have an account?? <a href="/">login</a></p>
  <% if (errors) { %>
    <ul>
      <% errors.map(function(error){ %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>